body {
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.semi-card {
    width: 300px;
    height: 450px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
    padding: 20px;

}

.qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code img {
    border-radius: 10px;
}

.text-content {
    text-align: center;
    color: rgb(32, 29, 29);

}

.text-content p {
    font-size: 15px;
    color: gray;
}